@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://content.api.news/v3/images/bin/f22f4bcaf75a6e1692d917378ef04259" alt="Vidly Movie Rental Store" width="960" height="480">
</div>

