<appSettings>
	<add key="MailServer" value="dev-smtp.vidly.com" />
	<add key="FacebookAppId" value="2927433344235568" />
	<add key="FacebookAppSecret" value="6a8c81e1b387c476b7294b1634b81273" />
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>